body{
    background-color:antiquewhite ;
}
header{
    box-shadow: 5px 5px 5px 5px;
   h1{
       position: absolute;
       top: -10px;
       left: 50%;
       font-size: 60px;
       
   }
   ul{
       display: flex;
       position: absolute;
       top: 100px;
       left: 65%;
       li{
           font-size: 20px;
           padding: 10px;
           list-style-type: none;
           a{
               text-decoration: none;
               color: black;
           
           }
          
       }
       li:hover{
             
           a{
               color: green;
               font-size: 30px;
           }
       }
       
   }
   #top{
    height: 150px;
    width: 400px;
    position: relative;
    left:1px;
    top: 1px;
   }
}
h1{
    text-align: center;
    font-size: 50px;
}
img{
    position: relative;
    left: 300px;
    top: 50px;
    height: 400px;
    width:700px;
}
pre{
    position: relative;
    font-size: 20px;
    top: 50px;
    font-family: cursive;
    h2{
        position: relative;
        font-size: 30px;
        margin-left: 30px;
        color: red;
        top: 40px;
    }
    iframe{

        position : relative;
        top: 100px;
        
        left: 100px;
        height: 350px;
        width: 650px;
        border: 5px solid rgb(60, 219, 60);
        border-radius: 20px 20px 20px 20px;
        box-shadow: 10px 10px 20px 10px;
    }
}
