body{
    background-color: antiquewhite;
} 
header{
    background:linear-gradient(to bottom,green,rgb(106, 212, 96));
    height: 150px;
    width: auto;
    img{
        background-color: antiquewhite;
        position: absolute;
        height: 100px;
        width: 100px;
        top: 5%;
        left: 50px;
    }
nav 
{
    margin-top: 0px;
    margin-left: 800px;

}
h2{
    font-size: 40px;
    position: absolute;
    top: 8%;
    left: 500px;
}
nav ul{
    position: absolute;
    top: 100px;
    right: 10px;
    display: inline-flex;
    padding: 3px 3px;
}

nav ul li{
    list-style-type: none;
    padding: 5px 5px;
    font-size: 15px;
    float: left;
    text-transform: uppercase;
    
    
}
a:hover{
    color: antiquewhite;
    font-size: 20px;
}
a{
    display: block;
    text-decoration: none;
    color: black;
}
}
#a{
    h1{
    font-size: 50px;
    margin-left: 30px;
    text-align: center;
}
      ul{
        position: relative;
        margin-left: 80px;
        li{
            font-size: 20px;
            list-style-type:square;
            padding: 5px;
        }
        a{
            text-decoration: none;
            color: black;
        }
        a:hover{
            font-family:cursive;
            color: green;
        }
      }
}
h2{
   margin-left: 30px;    
}
#bg{
    height: 100px;
    width: 100%;
    bottom: 300px;
    background-image: url(plant.jpg);
    right: 50px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    opacity: 40%;
    position: relative;
    margin-left: 50px;
}
pre{
    font-size: 20px;
    position: relative;
    right: 70px;
    b{
        color: green;
    }
}
.b{
    position: relative;
    right: 100px;
}
*{
    box-sizing: border-box;
}
.column{

    position: relative;
    height: 300px;
    margin-left: 4px;
    width: 33%;
    float: left;
    background-color: beige;
    padding: 5px;
    border-radius: 20px 20px 20px 20px;
    border: 4px solid rgb(87, 240, 87);
    
}
.row::after{
    content: "";
    padding: 5px;
    clear: both;
    display: table;

}
img{
    border-radius: 20px 20px 20px 20px;
    height: 280px;
    width: 420px;

}
#tree{
    h2{
        font-size: 30px;
        color: rgb(214, 121, 15);
    }
    ul{
        margin-left: 80px;
        li{
            list-style-type: none;
            a{
                text-decoration: none;
                font-size: 20px;
                color: black;
            }
            a:hover{
                font-family:Verdana, Geneva, Tahoma, sans-serif;
                color: rgb(71, 44, 4);
            }
        }
    }
} 
footer{
    position: relative;
    top: 190%;
    height: 600px;
    width: 100%;
    background-color: rgb(48, 39, 39);
    color: white;
    h7{
        position: absolute;
        top: 500px;
        left: 25%;
    }
    form{
        position: relative;
        top: 50px;
        margin-left: 200px;
        label{
            font-size: 30px;
            margin-left: 90px;
        }
        input{
            height: 40px;
            width: 300px;
            padding: 10px 10px;
            margin-bottom: 10px;
            border-radius: 20px 20px 20px 20px;
        }
        textarea{
            height: 100px;
            text-align: center;
            width: 300px;
            border-radius: 20px 20px 20px 20px;

        }
        button{
            position: relative;
            left: 100px;
            top: 30px;
            height: 40px;
            width: 100px;
            background-color: rgb(27, 223, 27);
            border-radius: 20px 20px 20px 20px;



        }
    }
    img{
        height: 500px;
        width: 400px;
        position: absolute;
        left: 600px;
        top: 1px;
    } 
}